body {
  background-color: #101419; }

#titleText {
  text-align: center; }
  #titleText .spanInitial, #titleText .spanEnd {
    font-family: "JetBrains Mono", monospace;
    font-size: 100px;
    color: #B96467; }
  #titleText .spanMiddle {
    font-family: "JetBrains Mono", monospace;
    font-size: 100px;
    color: #632C2E; }
  #titleText .fa-sliders-h {
    font-size: 75px;
    color: #632C2E;
    margin-left: 30px; }

hr {
  color: #B96467;
  height: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: solid; }

#mainNav {
  text-align: center;
  font-family: "Bungee", cursive;
  font-size: 20px;
  color: #2A3542;
  margin: 0;
  padding: 0;
  list-style: none; }
  #mainNav li {
    display: inline-block;
    padding: 10px; }

h2 {
  font-family: "Bungee", cursive;
  font-size: 40px;
  color: #8498B1;
  margin: 50px 0 0 20px; }

.selectorBox {
  font-size: 50px;
  background-color: #1D242D;
  border-color: #8498B1;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.selectorIcons {
  color: #B96467;
  border-color: #B96467;
  border-radius: 10px;
  border-style: outset;
  margin: 0 10px 10px 10px;
  padding: 5px; }

.mixerBox {
  font-size: 50px;
  background-color: #1D242D;
  border-color: #8498B1;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.audioIconPlay {
  color: #E4E11F;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.audioIconReset {
  color: #B9B764;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

p {
  text-align: center;
  color: #2A3542;
  font-family: "Bungee", cursive;
  font-size: 15px; }
