#nightBody {
  background-color: #101419; }

#dayBody {
  background-color: white; }

a {
  text-decoration: none; }

#titleText {
  text-align: center; }
  #titleText .spanInitial, #titleText .spanEnd {
    font-family: "JetBrains Mono", monospace;
    font-size: 100px;
    color: #B96467; }
  #titleText .spanMiddle {
    font-family: "JetBrains Mono", monospace;
    font-size: 100px;
    color: #632C2E; }
  #titleText .fa-sliders-h {
    font-size: 75px;
    color: #632C2E;
    margin-left: 30px; }

hr {
  color: #B96467;
  height: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: solid; }

#mainNav {
  text-align: center;
  font-family: "Bungee", cursive;
  font-size: 20px;
  color: #2A3542;
  margin: 0;
  padding: 0;
  list-style: none; }
  #mainNav li {
    display: inline-block;
    padding: 10px; }

.nightH2 {
  font-family: "Bungee", cursive;
  font-size: 40px;
  color: #8498B1;
  margin: 50px 0 0 20px; }

.dayH2 {
  font-family: "Bungee", cursive;
  font-size: 40px;
  color: #2A3542;
  margin: 50px 0 0 20px; }

.selectorBox {
  font-size: 50px;
  background-color: #1D242D;
  border-color: #8498B1;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.selectorBoxDay {
  font-size: 50px;
  background-color: #8498B1;
  border-color: #1D242D;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.selectorIcons {
  color: #B96467;
  border-color: #B96467;
  border-radius: 10px;
  border-style: outset;
  margin: 10px;
  padding: 5px; }

.selectorIconsDay {
  color: #632C2E;
  border-color: #632C2E;
  border-radius: 10px;
  border-style: outset;
  margin: 10px;
  padding: 5px; }

.mixerBox {
  font-size: 50px;
  background-color: #1D242D;
  border-color: #8498B1;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.mixerBoxDay {
  font-size: 50px;
  background-color: #8498B1;
  border-color: #1D242D;
  border-left-style: solid;
  border-width: 15px;
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px; }

.audioIconPlayN {
  color: #c9c61b;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.audioIconPlayN:hover {
  color: #fffb2a; }

.audioIconResetN {
  color: #B9B764;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.audioIconResetN:hover {
  color: #f7f586; }

.audioIconPlayD {
  color: #a19f16;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.audioIconPlayD:hover {
  color: #dad625; }

.audioIconResetD {
  color: #72713f;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.audioIconResetD:hover {
  color: #b6b462; }

p {
  text-align: center;
  color: #2A3542;
  font-family: "Bungee", cursive;
  font-size: 15px; }
