body {
  background-color: #101419; }

h1 {
  text-align: center; }

.spanInitial, .spanEnd {
  font-family: "JetBrains Mono", monospace;
  font-size: 75px;
  color: #B96467; }

.spanMiddle {
  font-family: "JetBrains Mono", monospace;
  font-size: 75px;
  color: #632C2E; }

.call-to-action {
  background-color: #f75d03;
  color: white; }

#mainNav {
  margin: 0;
  padding: 0;
  list-style: none; }
  #mainNav li {
    display: inline-block;
    padding-right: 20px; }
