$brandcolor: #B96467;
$brandbold: #632C2E;
$complementarycolor: #8498B1;
$complementarybold: #2A3542;
$complementarytint: #1D242D;
$secondarycolor: #101419;
// Night Mode
$ctacolorn: #B9B764;
$ctaboldn: #c9c61b;
$ctacolorhovern: #f7f586;
$ctaboldhovern: #fffb2a;
// Day Mode
$ctacolord: #72713f;
$ctaboldd: #a19f16;
$ctacolorhoverd: #b6b462;
$ctaboldhoverd: #dad625;