$brandcolor: #B96467;
$brandbold: #632C2E;
$complementarycolor: #8498B1;
$complementarybold: #2A3542;
$complementarytint: #1D242D;
// $complementarycolor: #64B9B7;
// $complementarybold: #265454;
// $complementarytint: #C8E6E6;
$secondarycolor: #101419;
$ctacolor: #B9B764;
$ctabold: #E4E11F;