@import "theme";
@import "font";

body {
    background-color: $secondarycolor;
}
h1 {
    text-align: center;
}
.spanInitial, .spanEnd {
    font-family: $brandfont;
    font-size: 75px;
    color: $brandcolor;
}
.spanMiddle {
    font-family: $brandfont;
    font-size: 75px;
    color: $brandbold;
}
.call-to-action {
    background-color: $ctacolor;
    color: white;
}
@mixin horizontalNav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        padding-right: 20px;
    }
}
#mainNav {
    @include horizontalNav;
}